<div class="con container-fluid d-flex justify-content-center align-items-center">
  <div class="row-login row rounded p-3 shadow-lg bg-body">
    <div class="col m-5">
      <form 
          [formGroup]="formRegistration"
          (ngSubmit)="getFormData(formRegistration)"
           action="#" method="post" class="form_class"
           >
          <div class="col m-5">
            <div class="form_class-title d-flex justify-content-center">
              <h1 class="title">Password Reset</h1>
            </div>
            <div class="row mb-3 p-2">
              <p class="reset-text d-flex justify-content-center">
                You will receive Email to reset your password
              </p>
              <label for="email" class="form-label d-flex justify-content-center"
                >Email address</label
              >
              <input
                formControlName="Email"
                type="email"
                class="form_class-input form-control"
                id="email"
                aria-describedby="emailHelp"
                required
              />
            </div>
            <button  
            type="submit" class="form-login_submit btn shadow-sm mb-2 mt-1">
            Submit
          </button>
          <!-- routerLink="/login" -->
          </div>
      
      </form>
</div>
</div>
</div>
