<div class="con container">
  <form action="#" method="post" class="form_class">
    <div class="row-forget row rounded p-3 shadow-lg bg-body">
      <div class="col m-5">
        <div class="form_class-title d-flex justify-content-center">
          <h1 class="title">Password Reset</h1>
        </div>
        <div class="row mb-3 p-2">
          <p class="reset-text">
            You will receive Email to reset your password
          </p>
          <label for="email" class="form-label">Email address</label>
          <input
            type="email"
            class="form_class-input form-control"
            id="email"
            aria-describedby="emailHelp"
            required
          />
        </div>
        <button type="submit" class="form-login_submit btn shadow-sm mb-2 mt-1">
          Submit
        </button>
      </div>
    </div>
  </form>
</div>
