*
{
  font-size: 1rem;
}
.div-logo {
  color:#B78D65;
  transition: all 0.5s ease;
}
.div-logo:hover {
  color: #e4c6aa;
}
.cart-num {
  font-size: 0.6rem;
}
i:hover
{
  color:#B78D65;
}
.button-group p:hover
{
  color:#B78D65;
}
a
{
  font-size: 1rem;
}
a:hover
{
  color:#B78D65;
}

