<header class="p-3 border-bottom bg-header">
  <div class="container-fluid">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <a
        routerLink="/home"
        class="d-flex align-items-center mb-2 me-4 mb-lg-0 text-dark text-decoration-none"
      >
        <div class="div-logo d-flex">
          <p class="fs-2 me-1 pt-2">Homes</p>
          <i class="fa-solid fa-house-chimney pb-3 fs-4 pt-2"></i>
        </div>
      </a>

      <ul
        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
      >
        <li>
          <a href="#" class="nav-link px-2 link-dark" routerLink="/product-list"
            >Products</a
          >
        </li>
        <li>
          <a href="#" class="nav-link px-2 link-dark" routerLink="/about-us"
            >About us</a
          >
        </li>
        <li>
          <a href="#" class="nav-link px-2 link-dark" routerLink="/contact-us"
            >Contact us</a
          >
        </li>

        <li>
          <div role="button" class="button-group mt-2 px-2 dropdownstyle" ngbDropdown>
            <div
              href="/"
              class="d-flex align-items-center text-decoration-none"
              id="dropdownConfig"
              ngbDropdownToggle
            >
              Categories
            </div>

            <ul
              ngbDropdownMenu
              class="text-small text-dark ul-style"
              aria-labelledby="dropdownConfig"
            >
              <li *ngFor="let category of categoryArray">
                <a ngbDropdownItem (click)="goToCategoryProducts(category)"
                  >{{ category.name }}
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>

      <div class="row gx-0">
        <!--div class="search-btn col-2 p-0 m-0 m-auto text-center" [ngClass]="{'show':!searchbtn,'hide':searchbtn}" (click)="search(searchTerm)">
          <i class="fa-solid fa-magnifying-glass"></i>
        </div-->
        <div
          class="form-group col-10"
          [ngClass]="{ show: !searchbtn, hide: searchbtn }"
        >
          <input
            name="searchword"
            [(ngModel)]="searchTerm"
            (keyup)="search(searchTerm)"
            type="text"
            class="form-control"
            placeholder="Search..."
            aria-label="Search"
          />
        </div>
      </div>
      <div
        [ngClass]="{ show: searchbtn, hide: !searchbtn }"
        (click)="goToProductList()"
        class="col-2 me-3"
      >
        <button class="btn">Search</button>
      </div>

      <a *ngIf="!userID" routerLink="/login" class="me-4">Login</a>
      <div *ngIf="userID" role="button" class="button-group me-4" ngbDropdown>
        <div
          href="/"
          class="d-flex align-items-center mb-2 me-2 mb-lg-0 dropdownstyle text-decoration-none"
          id="dropdownConfig"
          ngbDropdownToggle
        >
          useremail
        </div>

        <ul ngbDropdownMenu class="text-small ul-style" aria-labelledby="dropdownConfig">
          <li>
            <a ngbDropdownItem routerLink="/profile"> Profile </a>
          </li>
          <li>
            <a ngbDropdownItem routerLink="/wishlist"> Wishlist </a>
          </li>
          <li>
            <a ngbDropdownItem routerLink="/user-orders"> Orders </a>
          </li>
          <li>
            <a ngbDropdownItem href="#"> Settings </a>
          </li>
          <li>
            <hr ngbDropdownDivider />
          </li>
          <li>
            <a ngbDropdownItem href="#"> Sign out </a>
          </li>
        </ul>
      </div>

      <p-sidebar
        [(visible)]="visibleSidebar2"
        position="right"
        [baseZIndex]="10000"
        [style]="{ width: '50rem' }"
      >
        <div
          class="empty mb-2 fs-2 d-flex justify-content-center align-items-center"
          *ngIf="cartCounter != true"
        >
          No item selected
        </div>
        <p-table [value]="addedProducts" responsiveLayout="scroll">
          <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
              Products
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th>Name</th>
              <th>Image</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Reviews</th>
              <th>Remove</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-product>
            <tr>
              <td>{{ product.name }}</td>
              <td>
                <img
                  [src]="imagUrlProduct + product.image"
                  [alt]="product.name"
                  width="100"
                  class="shadow-4"
                />
              </td>
              <td>{{ product.price - product.discount }}</td>
              <td>{{ product.count }}</td>
              <td>
                <p-rating
                  [ngModel]="product.avg_rate"
                  [readonly]="true"
                  [cancel]="false"
                ></p-rating>
              </td>
              <td><i (click)="removeItem(product)" class="pi pi-trash"></i></td>
            </tr>
          </ng-template>
          <ng-template pTemplate="summary">
            <div class="flex align-items-between justify-content-between">
              <strong>Total: {{ totalAmount }} </strong>
            </div>
          </ng-template>
        </p-table>
        <p-button
          routerLink="/cart"
          type="button"
          (click)="visibleSidebar2 = false"
          label="View Cart"
          styleClass="p-button-success"
        ></p-button>

        <p-button
          type="button"
          (click)="visibleSidebar2 = false"
          label="Cancel"
          styleClass="p-button-secondary ms-2"
        ></p-button>
      </p-sidebar>

      <i
        (click)="openCart()"
        class="pi pi-shopping-cart p-mr-4 text-light"
        role="button"
        pBadge
        style="font-size: 2rem"
        value="{{ cartCounter }}"
        severity="danger"
      ></i>
    </div>
  </div>
</header>
