* {
  font-size: 1rem;
}
.div-logo {
  color: #b78d65;
  transition: all 0.5s ease;
}
.div-logo:hover {
  color: #e4c6aa;
}

::ng-deep .menuCart {
  min-width: 100% !important;
}
::ng-deep .mat-menu-content {
  width: 80% !important;
}

i:hover {
  color: #b78d65;
  cursor: pointer;
}
.button-group p:hover {
  color: #b78d65;
}
a {
  font-size: 1rem;
  color: black;
  text-decoration: none;
}
a:hover {
  color: #b78d65;
}

.cart_p {
  font-size: 15px;
  height: 10%;
}
.cart_price {
  font-size: 12px;
  color: rgb(185, 185, 185);
}
.imag-item {
  position: relative;
}
.delete-item {
  position: absolute;
  top: 13px;
  left: 156px;
}
/* .cdk-overlay-connected-position-bounding-box {
  right: 64px !important;
} */
.btn {
  background-color: #b78d65;
  color: white;
  width: 100%;
  margin: 0 auto;
  transition: all 0.5s ease;
  border: none;
}
.btn:hover {
  background-color: #cb985d;
  color: white;
  cursor: pointer;
}
.hide {
  display: none;
}
.show {
  display: block;
}