*
{
  font-size: 1rem;
}
.div-logo {
  color:#B78D65;
  transition: all 0.5s ease;
}
.div-logo:hover {
  color: #e4c6aa;
}

::ng-deep .menuCart {
  min-width: 275px !important;
}
::ng-deep .mat-menu-content {
  width: 80% !important;
}
i:hover
{
  color:#B78D65;
}
.button-group p:hover
{
  color:#B78D65;
}
a
{
  font-size: 1rem;
  color: black;
  text-decoration: none;
}
a:hover
{
  color:#B78D65;
}

.cart_p {
  font-size: 15px;
  height: 10%;
}
.cart_price {
  font-size: 12px;
  color: rgb(185, 185, 185);
}
.imag-item {
  position: relative;
}
.delete-item {
  position: absolute;
  top: 13px;
  left: 156px;
}
/* .cdk-overlay-connected-position-bounding-box {
  right: 64px !important;
} */
