<header class="p-3 border-bottom">
  <div class="container-fluid">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <a
        routerLink="/home"
        class="d-flex align-items-center mb-2 me-4 mb-lg-0 text-dark text-decoration-none"
      >
        <div class="div-logo d-flex">
          <p class="fs-2 me-1 pt-2">Homo</p>
          <i class="fa-solid fa-house-chimney pb-3 fs-4 pt-2"></i>
        </div>
      </a>

      <ul
        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
      >
        <li>
          <a href="#" class="nav-link px-2 link-dark" routerLink="/product-list"
            >Products</a
          >
        </li>
        <li>
          <a href="#" class="nav-link px-2 link-dark" routerLink="/about-us"
            >About us</a
          >
        </li>
        <li>
          <a href="#" class="nav-link px-2 link-dark" routerLink="/contact-us"
            >Contact us</a
          >
        </li>
        <li>
          <a href="#" class="nav-link px-2 link-dark" routerLink="blogs"
            >Blogs</a
          >
        </li>
      </ul>
      <form class="col-12 col-lg-auto mb-3 me-3 mb-lg-0 me-lg-3">
        <input
          type="search"
          class="form-control"
          placeholder="Search..."
          aria-label="Search"
        />
      </form>
      <div role="button" class="button-group me-4" ngbDropdown>
        <div
          href="/"
          class="d-flex align-items-center mb-2 me-2 mb-lg-0 text-dark text-decoration-none"
          id="dropdownConfig"
          ngbDropdownToggle
        >
          <i class="fa-solid fa-circle-user fs-3"></i>
          <p class="ms-2 mb-0">Mahmoud</p>
        </div>

        <ul ngbDropdownMenu class="text-small" aria-labelledby="dropdownConfig">
          <li>
            <a ngbDropdownItem href="#"> Settings </a>
          </li>
          <li>
            <a ngbDropdownItem routerLink="/profile"> Profile </a>
          </li>
          <li>
            <hr ngbDropdownDivider />
          </li>
          <li>
            <a ngbDropdownItem href="#"> Sign out </a>
          </li>
        </ul>
      </div>
      <<<<<<< HEAD
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"
      >
        <mat-icon matBadge="1" matBadgeColor="warn">
          add_shopping_cart
        </mat-icon>
        <span class="cdk-visually-hidden">
          Example with a home icon with overlaid badge showing the number 15
        </span>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>add_shopping_cart</mat-icon>
          <span>product</span>
        </button>
      </mat-menu>
      =======
      <div role="button" ngbDropdown ngbDropdownToggle>
        <i class="fa-solid fa-cart-shopping position-relative fs-3 me-3">
          <span
            class="cart-num position-absolute top-00 start-85 translate-middle badge rounded-pill bg-danger"
          >
            1
            <span class="visually-hidden">unread messages</span>
          </span>
        </i>
      </div>
      >>>>>>> origin/profile-page-and-blogs-page
    </div>
  </div>
</header>
