<app-navnar></app-navnar>
<div class="container tm-mt-big tm-mb-big">
  <div class="row ">
    <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto ">
      <div class="tm-bg-primary-dark tm-block tm-block-h-auto  ">
        <div class="row ">
          <div class="col-12">
            <h2 class="tm-block-title d-flex justify-content-center mb-3">Add Category</h2>
          </div>
        </div>
        <div class="row tm-edit-product-row">
          <div class="col-12"> 
          <div>
            <form 
            [formGroup]="formRegistration"
            (ngSubmit)="getFormData(formRegistration)"
             action="#" method="post"
             >
              <div class="form-group mb-4">
                <label
                  for="name"
                  > Name
                </label>
                <input
                [class.is-invalid]="
                formRegistration.get('name')?.invalid &&
                formRegistration.get('name')?.touched"
                 formControlName="name"
                  id="name"
                  name="name"
                  type="text"
                  class="form-control "
                  required
                />
                <span
                *ngIf="
                  formRegistration.get('name')?.invalid &&
                  formRegistration.get('name')?.touched
                "
                class="m-3 p-2 text-danger"
                >name should be more than 2 char
              </span>
              </div>

              <div class="form-group mb-4">
                <label
                  for="description"
                  > Description
                </label>
                <input
                [class.is-invalid]="
                formRegistration.get('description')?.invalid &&
                formRegistration.get('description')?.touched"
                 formControlName="description"
                  id="description"
                  name="description"
                  type="text"
                  class="form-control "
                  required
                />
                <span
                *ngIf="
                  formRegistration.get('description')?.invalid &&
                  formRegistration.get('description')?.touched
                "
                class="m-3 p-2 text-danger"
                >Description should be more than 2 char
              </span>
              </div>
            
             
             
              <div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4 images_upload spinner-parent" >
                <div class="form-group">

                  <label class="mb-3" for="file">UPLOAD CATEGORY IMAGE</label>
          
                  <input 
                  [class.is-invalid]="
                  formRegistration.get('file')?.invalid &&
                  formRegistration.get('file')?.touched"
                      formControlName="file"
                      id="file" 
                      type="file" 
                      class="form-control"
                      (change)="onFileChange($event)">
          
                </div>
                <span
                *ngIf="
                  formRegistration.get('file')?.invalid &&
                  formRegistration.get('file')?.touched
                "
                class="m-3 p-2 text-danger"
                >upload valid image
              </span>
              <p-progressSpinner class="spinner" *ngIf="isLoading"></p-progressSpinner>

              </div>
      
              <div class="col-12 d-flex justify-content-center align-items-center">
                <div class="row">
                  <div [ngClass]="{'show-alert':dangerAlertShow,'hide-alert':!dangerAlertShow}" 
                  class="alert alert-danger col-12 m-3 p-3 " role="alert">
                    Please Enter Valid Data
                  </div>
                  <div [ngClass]="{'show-alert':SuccessAlertShow,'hide-alert':!SuccessAlertShow}" 
                  class="alert alert-success col-12 m-3 p-3" role="alert">
                  SubCategory Added Successfully 
                  </div>
                <button type="submit" class="btn btn-primary btn-block text-uppercase" 
               >
                  Add Category Now</button>
                  </div>
              </div>
            
               </form>
               </div>
                </div>
               
               
          </div>
        </div>
      </div>
    </div>
    
   