<div class="img-overlay text-end fs-5 rounded">
  <a (click)="goTodetails(productItem)">
    <img
      src="https://picsum.photos/200"
      class="card-img-top rounded-top"
      alt="item"
      width="100%"
    />
  </a>
  <div class="love" (click)="item_hearted=!item_hearted" [ngClass]="{'love-red':item_hearted}">
    <i class="fa-solid fa-heart"></i>
  </div>
  <div class="container-fluid">
    <div class="row p-3">
      <a
        (click)="goTodetails(productItem)"
        class="link-item text-decoration-none link-dark"
      >
        <p class="text-center name-item p-0">{{ productItem.name }}</p>
        <p class="text-center">{{ productItem.price }}</p>
      </a>
      <div class="buttons d-flex justify-content-between">
        <button
          class="col-6 btn button-item rounded me-1"
          (click)="onItemAdded()"
        >
          Add to cart
        </button>

        <button class="col-6 btn button-item rounded" (click)="open(content)">
          More details
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<!-- /////////////////////////////////////////////////////// -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h3 class="modal-title" id="modal-basic-title">Product details</h3>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <div class="card mb-3" style="max-width: 540px">
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="https://picsum.photos/200"
            class="img-fluid rounded-start"
            alt="item"
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h4 class="card-title">{{ productItem.name }}</h4>
            <h5 class="card-title">{{ productItem.price }}</h5>
            <p class="card-text">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
            <p class="card-text">
              <small class="text-muted">Last updated 3 mins ago</small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      routerLink="/cart"
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
    >
      Add to cart
    </button>
  </div>
</ng-template>
