* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

input,textarea {
    outline: none;
    border: none;
}
.wrap-contact100 {
    width: 70%;
    background: #fff;
    border-radius: 5%;
    overflow: hidden;
    
}



.contact100-form {
    width: 50%;
    
}

.contact100-form-title {
    display: block;
    font-size: 24px;
    color: #333333;
    line-height: 1.2;
    text-align: left;
    padding-bottom: 36px;
}

input.input100 {
   
    border-radius: 25px;
    padding: 14px 30px;
}


textarea.input100 {
   
    border-radius: 25px;
    padding: 14px 30px;
}

.wrap-input100 {
    
    width: 100%;
    margin-bottom: 10px;
}

.input100 {
    
    width: 100%;
    background: #e6e6e6;
    font-size: 15px;
    line-height: 1.5;
    color: black;
}
.contact100-form-btn {
    width: 100%;
    border-radius: 25px;
    background: #cb985d;
    color: #fff;
    outline: none ;
    border: none;   
    padding:  12px;
    transition: all 0.5s ease;
}

.contact100-form-btn:hover {
    background: #876445;
    cursor: pointer;
}
p
{
    font-size: 1.2rem;
}
.icon-content
{
    width: 50%;
}
.show-alert{
    display: block;
  }
  .hide-alert{
    display: none;
  }
