<div class="bg-contact100">
    <div class="container-contact100">
        <div class="wrap-contact100 row shadow-lg rounded ">
            <div class="col-xl-6 col-lg-6 col-sm-12 col-md-12 " >
            <form class="contact100-form">
                <span class="contact100-form-title">
                    Get in touch
                </span>
                <div class="row">
                <div class="col-md-6 wrap-input100 ">
                    <input class="input100" type="text" name="name" placeholder="First Name">
                    <span class="focus-input100"></span>
                </div>
                <div class="col-md-6 wrap-input100 ">
                    <input class="input100" type="text" name="name" placeholder="Last Name">
                    <span class="focus-input100"></span>
                </div>
              </div>
                <div class="wrap-input100 ">
                    <input class="input100" type="text" name="email" placeholder="Email">
                    <span class="focus-input100"></span>
                  
                </div>
                <div class="wrap-input100 ">
                    <textarea class="input100" name="message" placeholder="Message"></textarea>
                    <span class="focus-input100"></span>
                </div>
                <div class="container-contact100-form-btn pt-4">
                    <button class="contact100-form-btn" type="submit">
                        Send
                    </button>
                </div>
            </form>
        </div>
            
        <div class="info-body col-xl-6 col-lg-6 col-sm-12 col-md-12 ">
                <div class="row info_data container d-flex justify-content-center align-items-center mt-5">
                <div class="info">
                    <i class="fas fa-home m-5  " style="font-size: 2rem;color: #cb985d; "></i>
                    <p class="d-inline">Maadi-Cairo-Egypt </p>
                </div>
                <div class=" info">
                    <i class="fa-solid fa-mobile-screen-button m-5 " style="font-size: 2rem;color: #cb985d; "></i>
                    <p class="d-inline">(+02) 01147783654</p>
                </div>
                <div class="info">
                    <i class="fas fa-envelope m-5" style="font-size: 2rem;color: #cb985d; "></i>
                    <p class="d-inline">nourelnaggar@gmail.com</p>
                </div>
                </div>
            </div>
            
        </div>
    </div>
</div>