<app-header></app-header>
<div class="about-section  d-flex justify-content-center p-5">
    <div class="inner-container 
        shadow-lg col-lg-12 col-md-12 col-sm-12 ">
        <h1>About Us</h1>
        <p class="text">
            Homo Furniture is an Egyptian Furniture company which was formed in 2022 after 18 years of experience in furniture  production. We work with furniture experts from all over the world to produce outstanding quality products at very competitive prices for all around your home including the living room, dining room, bedroom, kitchens and outdoor furniture
        </p>
    </div>
</div>
<app-footer></app-footer>
