 
.about-section{
    background-size: 55%;
    background-image: url('src/assets/images/aboutus.jpeg');
    background-repeat: no-repeat;
    background-color: #fdfdfd;
    overflow: hidden;
    height: 100vh;
   
}
 
.inner-container{
    width: 55%;
   position: relative;
   left:22%;
    background-color: #fdfdfd;
    padding: 120px;
}
.inner-container h1{
   
    font-size: 30px;
    font-weight: 900;
    color: #876445;
}
 
.text{
    font-family: "Nunito";
    font-size: 17px;
    color: #545454;
     line-height: 30px; 
    text-align: justify;
 
}
