<app-header></app-header>
<section class="parentblogs_section">
  <section class="blogs_section">
    <div class="container">
      <div class="text" style="text-align: center"></div>
    
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 mb-5" *ngFor="let i of arr">
          <div class="card">
            <div class="card rounded">
              <img
                src="https://cdn.rawgit.com/huijing/filerepo/gh-pages/lw2.jpg"
                alt=""
              />
              <div class="card-body">
                <a class="admin" href="#">March 2, 2022</a>
                <a class="admin" href="#">Admin</a>
                <h3>
                  Lorem ipsum dolor sit consectetur ipsum amet adipisicing elit
                </h3>
                <ngb-accordion #acc="ngbAccordion">
                  <ngb-panel id="toggle-1" title="Read More">
                    <ng-template ngbPanelContent>
                      Anim pariatur cliche reprehenderit, enim eiusmod high life
                      accusamus terry richardson ad squid. 3 wolf moon officia
                      aute, non cupidatat skateboard dolor brunch.
                    </ng-template>
                  </ngb-panel>
                </ngb-accordion>
              </div>
            </div>
          </div>
          <div class="border"></div>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col" style="text-align: center">
          <div style="padding-top: 50px">
            <a class="pages active" href="">1</a>
            <a class="pages" href="">2</a>
            <a class="pages" href="">3</a>
            <a class="pages" href="">4</a>
            <a class="pages" href="">5</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
<app-footer></app-footer>
