<div class="container tm-mt-big tm-mb-big">
    <div class="row ">
      <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto ">
        <div class="tm-bg-primary-dark tm-block tm-block-h-auto  ">
          <div class="row ">
            <div class="col-12">
              <h2 class="tm-block-title d-flex justify-content-center mb-3">Add Product</h2>
            </div>
          </div>
          <div class="row tm-edit-product-row">
            <div class="col-12"> 
            <div>
              <form 
              [formGroup]="formRegistration"
              (ngSubmit)="getFormData(formRegistration)"
               action="#" method="post"
               >
                <div class="form-group mb-4">
                  <label
                    for="name"
                    >Product Name
                  </label>
                  <input
                   formControlName="name"
                    id="name"
                    name="name"
                    type="text"
                    class="form-control "
                    required
                  />
                </div>
                <div class="form-group mb-4">
                  <label
                    for="description"
                    >Description</label
                  >
                  <textarea
                    class="form-control "
                    rows="3"
                    required
                    formControlName="description"
                  ></textarea>
                </div>
                <div class="form-group mb-4">
                  <label
                    for="shortdesc"
                    >Short Description</label
                  >
                  <textarea
                    class="form-control "
                    rows="3"
                    required
                    formControlName="shortdesc"
                  ></textarea>
                </div>
                <div class="row">
                    <div class="form-group mb-4">
                      <label
                        for="category"
                        >Category</label
                      >
                      <select
                        class="custom-select tm-select-accounts"
                        id="category"  formControlName="category"
                      >
                        <option *ngFor="let item of categoryArray" [value]="item.id">{{item.name}}</option>
                        
                      </select>
                    </div>
                    <div class="form-group mb-4">
                      <label
                        for="subcategory"
                        >Sub Category</label
                      >
                      <select
                        class="custom-select tm-select-accounts"
                        id="subcategory"  formControlName="subcategory"
                      >
                        <option *ngFor="let item of subCategoryArray" [value]="item.id">{{item.name}}</option>
                        
                      </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group mb-4 col-xs-12 col-sm-6">
                        <label
                          for="price"
                          >Price
                        </label>
                        <input
                          id="price"
                          name="price"
                          type="number"
                          class="form-control validate"
                          data-large-mode="true"
                          formControlName="price"
                        />
                      </div>
                      <div class="form-group mb-4 col-xs-12 col-sm-6">
                        <label
                          for="discount"
                          >Discount
                        </label>
                        <input
                          id="discount"
                          name="discount"
                          type="number"
                          class="form-control "
                          formControlName="discount"
                        />
                      </div>  
                </div>
                <div class="row">
                    <div class="form-group mb-4 col-xs-12 col-sm-6">
                        <label
                          for="quantity"
                          >Quantity
                        </label>
                        <input
                          id="quantity"
                          name="quantity"
                          type="number"
                          class="form-control "
                          data-large-mode="true"
                          formControlName="quantity"
                        />
                    </div>
                    <div class="form-group mb-4 col-xs-12 col-sm-6">
                      <label
                        for="brand"
                        >Brand
                      </label>
                      <input
                        id="brand"
                        name="brand"
                        type="text"
                        class="form-control "
                        data-large-mode="true"
                        formControlName="brand"
                      />
                    </div>  
                </div>
                <div class="row">
                  <div class="form-group mb-4 col-xs-12 col-sm-6">
                      <label
                        for="productsize"
                        >Product Size
                      </label>
                      <input
                        id="productsize"
                        name="productsize"
                        type="text"
                        class="form-control "
                        data-large-mode="true"
                        formControlName="productsize"
                      />
                  </div>
                  <div class="form-group mb-4 col-xs-12 col-sm-6">
                    <label
                      for="color"
                      >Color
                    </label>
                    <input
                      id="color"
                      name="color"
                      type="text"
                      class="form-control "
                      data-large-mode="true"
                      formControlName="color"
                    />
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4 images_upload" >
                  <div class="form-group">
  
                    <label class="mb-3" for="file">UPLOAD PRODUCT IMAGE</label>
            
                    <input 
                        formControlName="file"
                        id="file" 
                        type="file" 
                        class="form-control"
                        (change)="onFileChange($event)">
            
                  </div>
                </div>
            
            <div class="col-12 d-flex justify-content-center align-items-center">
              <button type="submit" class="btn btn-primary btn-block text-uppercase" 
             >
                Add Product Now</button>
            </div>
          
             </form>
             </div>
              </div>
             
             
        </div>
      </div>
    </div>
  </div>
  
 