<app-navnar></app-navnar>
<div class="container tm-mt-big tm-mb-big">
    <div class="row">
      <div class="col-12 mx-auto tm-login-col">
        <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
          <div class="row">
            <div class="col-12 text-center">
              <h2 class="tm-block-title mb-4">Welcome to Dashboard, Login</h2>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-12">
              <form 
                  [formGroup]="formRegistration"
                  (ngSubmit)="getFormData(formRegistration)"
                  action="#" method="post"
               class="tm-login-form">
               <div class="form-group mb-3">
                <label for="Email" class="form-label">Email</label>
                <input
                  [class.is-invalid]="
                    formRegistration.get('Email')?.invalid &&
                    formRegistration.get('Email')?.touched
                  "
                  type="email"
                  class="form-control"
                  id="Email"
                  formControlName="Email"
                />
                <span
                  *ngIf="
                    formRegistration.get('Email')?.invalid &&
                    formRegistration.get('Email')?.touched
                  "
                  class="m-3 p-2 text-danger"
                  >please enter valide email
                </span>
              </div>
              <div class="form-group mb-3">
                <label for="Password" class="form-label">Password</label>
                <input
                  [class.is-invalid]="
                    formRegistration.get('Password')?.invalid &&
                    formRegistration.get('Password')?.touched
                  "
                  type="password"
                  class="form-control"
                  id="Password"
                  formControlName="Password"
                />
                <span
                  *ngIf="
                    formRegistration.get('Password')?.invalid &&
                    formRegistration.get('Password')?.touched
                  "
                  class="m-3 p-2 text-danger"
                  >password must start with capital char
                </span>
              </div>
                <div class="form-group mt-4">
                  <div [ngClass]="{'show-alert':dangerAlertShow,'hide-alert':!dangerAlertShow}" 
                  class="alert alert-danger col-12 m-3 p-3 " role="alert">
                  Please Enter Valid Data
              </div>
                  <div [ngClass]="{'show-alert':SuccessAlertShow,'hide-alert':!SuccessAlertShow}" 
                  class="alert alert-success col-12 m-3 p-3" role="alert">
                  welcome admin
              </div>
                  <button
                    type="submit" 
                    class="btn btn-primary btn-block text-uppercase"
                  >
                    Login
                  </button>
                  <a routerLink="/admin-register"> or register? </a>
                </div>
               
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

