<app-header></app-header>
<div class="container">
  <div class="row m-3">
    <div class="col-lg-6 col-md-7 col-12">
      <img
        src="{{ imagUrlProduct + productDetails.image }}"
        width="500"
        height="500"
        alt="img 1"
      />
    </div>
    <div class="col-lg-6 col-md-5 col-12">
      <h1>{{ productDetails.name }}</h1>
      <h4>{{ productDetails.selling_price }} EGP</h4>
      <button class="cart-button btn mb-4" routerLink="/cart">
        Add to cart
      </button>
      <h3>product details</h3>
      <table style="width: 100%">
        <tr>
          <th>Description:</th>
          <td>{{ productDetails.description }}</td>
        </tr>
        <tr>
          <th>Stock:</th>
          <td>{{ productDetails.product_qty }}</td>
        </tr>
        <tr>
          <th>Brand Name:</th>
          <td>{{ productDetails.brand }}</td>
        </tr>
        <tr>
          <th>Color:</th>
          <td>{{ productDetails.color }}</td>
        </tr>
        <tr>
          <th>Contact:</th>
          <td>{{ productDetails.product_size }}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row m-3">
    <div class="mb-3 col-lg-12 col-md-12 col-12 rate-comment">
      <form [formGroup]="form">
        <p>Rating this product</p>
        <ngx-star-rating
          formControlName="rating"
          [id]="'rating'"
        ></ngx-star-rating>
        <div class="fs-3">Rating: {{ form.value.rating }}</div>
        <div class="add-comment">
          <h3 class="col-12">Add Comment</h3>
          <mat-form-field class="col-12">
            <input matInput />
          </mat-form-field>
          <button class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <h3>Relative products</h3>
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide *ngFor="let item of relativeProduct">
        <div class="one-item m-2">
          <div class="img-overlay text-center fs-5 rounded">
            <a href="#">
              <img
                src="{{ imagUrlProduct + item.image }}"
                class="rounded"
                width="100"
                height="200"
                alt="item"
              />
            </a>
            <div
              class="love"
              (click)="item_hearted = !item_hearted"
              [ngClass]="{ 'love-red': item_hearted }"
            >
              <i class="fa-solid fa-heart"></i>
            </div>
            <div class="container-fluid">
              <div class="row p-1">
                <a href="#" class="link-item text-decoration-none link-dark">
                  <p class="text-center name-item p-0">{{ item.name }}</p>
                  <p class="text-center">{{ item.selling_price }} EGP</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
</div>
<div
  id="carouselExampleDark"
  class="carousel carousel-dark slide"
  data-bs-ride="carousel"
></div>
<app-footer></app-footer>
