<app-navnar></app-navnar>
<div class="container mt-5">
  <div class="row tm-content-row">

    <div class="col-12 tm-block-col" id="subcategories">
      <div class="tm-bg-primary-dark tm-block tm-block-product-categories">
        <h2 class="tm-block-title">Product Slider</h2>
        <div class="tm-product-table-container">
          <table class="table table-hover tm-table-small tm-product-table">
            <thead>
              <tr>
               
                <th scope="col">NAME</th>
                <th scope="col">Image</th>
                <th scope="col">Description</th>
            
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let i of sliderArray">
               
                <td class="tm-product-name">{{i.name}}</td>
                <td><img
                  src="{{ imagUrlSlider + i.image }}"
                  width="100" height="100"
                  class="img-fluid rounded-start slider-img"
                  alt="item"
                  /></td>
                <td class="tm-product-name">{{i.description}}</td>
                   <td class="text-center">
                     <a>
                     <mat-icon (click)="removeSliderItem(i.id)">delete</mat-icon>
                   </a>
                   </td>
              </tr>
             
            </tbody>
          </table>
        </div>
        <!-- table container -->
        <div class="d-flex justify-content-center align-items-center btn-add">
        <button
          class="btn btn-primary btn-block text-uppercase mb-3"
          routerLink="/add-slider"
        >
          Add new Slider
        </button>
      </div>
      </div>
    </div>
  </div>
</div>