<app-header></app-header>
<div class="con container-fluid d-flex justify-content-center align-items-center">
    <div class="row-login row rounded p-3 shadow-lg bg-body">
      <div class="col m-5">
        <form 
            [formGroup]="formRegistration"
            (ngSubmit)="getFormData(formRegistration)"
             action="#" method="post" class="form_class"
             >
            <div class="col m-5 spinner-parent">
              <div class="form_class-title d-flex justify-content-center">
                <h1 class="title">Password Reset</h1>
              </div>
              <div class="row mb-3 p-2">
                <label for="password" class="form-label d-flex justify-content-center"
                  >New Password</label
                >
                <input
                  [class.is-invalid]="
                   formRegistration.get('Password')?.invalid &&
                   formRegistration.get('Password')?.touched
                  "
                  formControlName="Password"
                  type="password"
                  class="form_class-input form-control"
                  id="password"
                  required
                />
                <span
                 *ngIf="
            formRegistration.get('Password')?.invalid &&
            formRegistration.get('Password')?.touched"
          class="m-3 p-2 text-danger">password must start with capital char, max is 9 places
                </span>
              </div>
              <div class="row mb-3 p-2">
                <label for="confirmpassword" class="form-label d-flex justify-content-center"
                  >Confirm Password</label
                >
                <input
                  [class.is-invalid]="
                   formRegistration.get('confirmPassword')?.invalid &&
                   formRegistration.get('confirmPassword')?.touched
                  "
                  formControlName="confirmPassword"
                  type="password"
                  class="form_class-input form-control"
                  id="confirmpassword"
                  required
                  
                />
                <span
                 *ngIf="
            formRegistration.get('Password')?.invalid &&
            formRegistration.get('Password')?.touched"
          class="m-3 p-2 text-danger">password must start with capital char, max is 9 places
                </span>
              </div>
              <p-progressSpinner class="spinner" [ngClass]="{'show':isLoading,'hide':!isLoading}"></p-progressSpinner>
              <button  
              type="submit" class="form-login_submit btn shadow-sm mb-2 mt-1">
              Submit
            </button>
            <!-- routerLink="/login" -->
            </div>
            <div *ngIf="failedAlert" class="alert alert-danger" role="alert">Enter a Valid Password if it doesn't work sent a reset email again</div>
            <div *ngIf="matchAlert" class="alert alert-danger" role="alert">Password doesn't match confirm password</div>
        
        </form>
  </div>
  </div>
  </div>
<app-footer></app-footer>
