
  .tm-block-col {
    margin-bottom: 30px;
  }
  .tm-block {
    padding: 40px;
    box-shadow: 1px 1px 5px 0 #455c71;
    min-height: 350px;
    height: 100%;
    max-height: 450px;
  }
  .tm-block-scroll {
    overflow-y: scroll;
  }
  .tm-block-overflow {
    overflow: hidden;
  }
  .tm-block-title {
    font-size: 1.1rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 30px;
  }
  .tm-content-row {
    justify-content: space-between;
    margin-left: -20px;
    margin-right: -20px;
  }
  .tm-col {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 50px;
  }
  .tm-col-big {
    width: 39%;
  }
  .tm-col-small {
    width: 21.95%;
  }
 
  .tm-small {
    font-size: 90%;
  }
  .table {
    background-color: #50697f;
    color: #fff;
    font-size: 85%;
    margin-bottom: 0;
  }
  thead {
    background-color: #486177;
    color: #fff;
  }
  .table thead th {
    border-bottom: 0;
  }

  /* order status */
  .tm-status-circle {
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin-top: -3px;
  }
  .moving {
    background-color: #9be64d;
    box-shadow: 0 0 8px #9be64d, inset 0 0 8px #9be64d;
  }
  .pending {
    background-color: #efc54b;
    box-shadow: 0 0 8px #efc54b, inset 0 0 8px #efc54b;
  }
  .cancelled {
    background-color: #da534f;
    box-shadow: 0 0 8px #da534f, inset 0 0 8px #da534f;
  }
 
 

  .table td,
  .table th {
    border-top: 1px solid #415a70;
    padding: 15px 25px;
    vertical-align: middle;
  }
 
  .tm-bg-primary-dark {
    background-color: #435c70;
  }
  .tm-bg-gray {
    background-color: rgba(0, 0, 0, 0.05);
  }
  .tm-table-mt {
    margin-top: 66px;
  }
  .carousal {
    transition: all 0.5s ease;
  }
  h3 {
    font-size: 6rem;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  }
  .carousel-caption {
    font-weight: 900;
    margin-bottom: 20px;
    width: 70%;
    height: 25px;
    position: absolute;
    top: 36%;
    left: 14%;
  }




  
  
  
  
  

  
  
  
  
  
  
  