
<div class="container">
    <div class="row">
        <div class="col">
            <p class="text-black mt-5 mb-5">Welcome back, <b>Admin</b></p>
        </div>
    </div>
    <div class="row tm-content-row">
        <div class="col-12 tm-block-col">
            <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll">
                <h2 class="tm-block-title">Orders List</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ORDER NO.</th>
                            <th scope="col">STATUS</th>
                            <th scope="col">OPERATORS</th>
                            <th scope="col">LOCATION</th>
                            <th scope="col">DISTANCE</th>
                            <th scope="col">START DATE</th>
                            <th scope="col">EST DELIVERY DUE</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr >
                            <th scope="row"><b>#1</b></th>
                            <td>
                                <div class="tm-status-circle moving">
                                </div>Moving
                            </td>
                            <td><b>Nour</b></td>
                            <td><b>cairo,</b></td>
                            <td><b>360 km</b></td>
                            <td>11:00, 7 MAR 2022</td>
                            <td>04:00,7 MAR 2022</td>
                        </tr>
                        <tr>
                            <th scope="row"><b>#2</b></th>
                            <td>
                                <div class="tm-status-circle pending">
                                </div>Pending
                            </td>
                            <td><b>Nour</b></td>
                            <td><b>cairo,</b></td>
                            <td><b>360 km</b></td>
                            <td>11:00, 7 MAR 2022</td>
                            <td>04:00,7 MAR 2022</td>
                        </tr>
                        <tr>
                            <th scope="row"><b>#3</b></th>
                            <td>
                                <div class="tm-status-circle cancelled">
                                </div>Cancelled
                            </td>
                            <td><b>Nour</b></td>
                            <td><b>cairo,</b></td>
                            <td><b>360 km</b></td>
                            <td>11:00, 7 MAR 2022</td>
                            <td>04:00,7 MAR 2022</td>
                        </tr>
                        <tr *ngFor="let i of arr">
                            <th scope="row"><b>#4</b></th>
                            <td>
                                <div class="tm-status-circle moving">
                                </div>Moving
                            </td>
                            <td><b>Nour</b></td>
                            <td><b>cairo,</b></td>
                            <td><b>360 km</b></td>
                            <td>11:00, 7 MAR 2022</td>
                            <td>04:00,7 MAR 2022</td>
                        </tr>
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
