*
{
    font-family: "Nunito";
}
h3{

    font-size: 3rem;
}
.carousel-caption
{
    
    font-weight: 900;
    margin-bottom: 20px;
    width: 50%;
    height: 25px;
    position: absolute;
    top: 29%;
    left: 24%;
}
button
{
    background-color: #876445;
    font-size: 30px;
    color: white;
    border: none;
    width: 21%;
    margin: 0 auto;
    padding: 10px;
    transition: all 0.5s ease;
    position: absolute;
    top: 252%;
    left: -1%;
}
button:hover 
{
    background-color: #cb985d;
    color: white;
    cursor: pointer;
}