<p-paginator
  [rows]="10"
  [totalRecords]="totalRecords"
  [rowsPerPageOptions]="[10, 20, 30]"
></p-paginator>
<app-product-item
  class="col-4 ps-0 pe-0 m-2 one-item shadow-lg"
  *ngFor="let item of productArray; let i = index"
  [productItem]="productArray[first]"
>
</app-product-item>
<h5>Custom</h5>
<div class="grid align-items-center">
  <div class="col-1">
    <p-button icon="pi pi-refresh" (onClick)="refresh()"></p-button>
  </div>
  <div class="col-10">
    <p-paginator
      [first]="first"
      [rows]="1"
      [totalRecords]="totalRecords2"
      (onPageChange)="onPageChange($event)"
      [showJumpToPageDropdown]="true"
      [showPageLinks]="false"
    ></p-paginator>
  </div>
  <div class="col-1 grid justify-content-end">
    <p-button icon="pi pi-search"></p-button>
  </div>
</div>
<div class="image-gallery"></div>
