<section class="parentblogs_section">
    <section class="blogs_section">
      <div class="container">
        <div class="text" style="text-align: center;">
            
            <h2>Recent Blog</h2>
        </div>
         <div class="row "> 
          <div class="col-lg-4 col-md-6 col-sm-12 mb-5" *ngFor="let i of arr">
            <div class="card rounded ">
                <img src="https://cdn.rawgit.com/huijing/filerepo/gh-pages/lw2.jpg" alt="" />
              <div class="card-body">
                <a class="admin" href="#">March 2, 2022</a>
                <a class="admin" href="#">Admin</a>
                <h3>Lorem ipsum dolor sit consectetur ipsum amet adipisicing elit</h3>
                <a  class="btn1" >Read more <div class="right">
                  <i class="fas fa-comment"></i>
                  <span>3</span>
                </div></a>
              </div>
            </div>
            <div class="border"></div>
          </div>
       
         </div>
      </div>
    </section>
  </section>
