<section class="blogs_section">
  <div class="container">
    <h1 class="d-flex justify-content-center m-5 p-5">Recent Blog</h1>
    <div class="row "> 
        <div class="col-lg-4 col-md-6 col-sm-12 mb-5" *ngFor="let i of arr">
          <div class="card rounded ">
              <img src="https://cdn.rawgit.com/huijing/filerepo/gh-pages/lw2.jpg" alt="" />
              <div class="card-body">
                  <a class="admin" href="#">March 2, 2022</a>
                  <a class="admin" href="#">Admin</a>
                  <h3>Lorem ipsum dolor sit consectetur ipsum amet adipisicing elit</h3>
                  <a  class="btn1"routerLink="/blogs" >Read more </a>
              </div>
          </div>
          <div class="border"></div>
        </div>
    </div>
  </div>
</section>


