h1
{
  font-style: bold;
  font-size: 2.5rem;
  color: #B78D65;
}
h2
{
  font-style: bold;
  font-size: 2rem;
  color:#B78D65;
}
.set_paragraph
{
 
    font-size: 1.5rem;
    line-height: 30px; 
   margin-bottom: 40px; 
}
.category-img{
  height: 220px;
}
a{
  cursor:pointer;
}



