<app-navnar></app-navnar>
<div class="container tm-mt-big tm-mb-big">
   
      <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto ">
        <div class="tm-bg-primary-dark tm-block tm-block-h-auto content ">
            <div>
                <h1 class="contact_itile">View contact information </h1>
            </div>
   
                <div class="p-4 ">
                    <strong class="para">First Name&nbsp;:&nbsp;&nbsp;&nbsp;</strong>
                    <p class="d-inline ">{{ contactArray.fname }}</p>
                </div>
            
                <div class="p-4 ">
                    <strong class="para">Last Name&nbsp;:&nbsp;&nbsp;&nbsp;</strong>
                    <p class="d-inline ">{{ contactArray.lname }}</p>
                </div>
                <div class="p-4 ">
                    <strong class="para">Email&nbsp;:&nbsp;&nbsp;&nbsp;</strong>
                    <p class="d-inline ">{{ contactArray.email }}</p>
                </div>
                <div class="p-4 ">
                    <strong class="para">Message&nbsp;:&nbsp;&nbsp;&nbsp;</strong>
                    <p class="d-inline ">{{ contactArray.message }}</p>
                </div>
                
</div> 
</div>
