<app-navnar></app-navnar>
<div class="container mt-5">
  <div class="row tm-content-row">               
    <div class="col-12 tm-block-col" id="categories">
      <div class="tm-bg-primary-dark tm-block tm-block-product-categories">
        <h2 class="tm-block-title"> All Users Accounts</h2>
        <div class="tm-product-table-container">
          <table  class="table table-hover tm-table-small tm-product-table border">
            <thead>
              <tr>
              
                <th scope="col">NAME</th>
                <th scope="col">Email</th>
                <th scope="col">PHONE</th>
                <th scope="col">ADDRESS</th>
                <th scope="col">CITY</th>
                <th scope="col">REGION</th>
               
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of usersArray">
                
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.phone}}</td>
                <td>{{user.address}}</td>
                <td>{{user.city}}</td>
                <td>{{user.region}}</td>
                <td class="text-center">
                  <a>
                  <mat-icon (click)="deleteUserAcount(user.id)">delete</mat-icon>
                  
                </a>
                </td>
              </tr>
            
            </tbody>
          </table>
        </div >
        <div class="d-flex justify-content-center align-items-center btn-add">
        <button
          class="btn btn-primary btn-block text-uppercase mb-3"
          routerLink="/add-users"
        >
          Add new user
        </button>
      </div>
      </div>
    </div>
  </div>
</div>
/////////////////////////////////////////
