<app-navnar></app-navnar>
<div class="container mt-5">

    <!-- row -->
    <div class="row tm-content-row d-flex justify-content-center align-items-center">
   
      <div class="col-12 tm-block-col tm-col-account-settings">
        <div class="tm-bg-primary-dark tm-block tm-block-product-categories">
          <h2 class="tm-block-title">Users</h2>
          <div class="tm-product-table-container">
            <table class="table tm-table-small tm-product-table">
              <thead>
                <tr>
                  <th scope="col">&nbsp;</th>
                  <th scope="col">NAME</th>
                  <th scope="col">Email</th>
                  <th scope="col">PHONE</th>
                  <th scope="col">ADDRESS</th>
                  <th scope="col">CITY</th>
                  <th scope="col">REGION</th>
                  <th scope="col">&nbsp;</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of usersArray">
                  <th scope="row"><input type="checkbox"/></th>
                  <td>{{user.name}}</td>
                  <td>{{user.email}}</td>
                  <td>{{user.phone}}</td>
                  <td>{{user.address}}</td>
                  <td>{{user.city}}</td>
                  <td>{{user.region}}</td>
                  <td class="text-center">
                    <a href="#" class="tm-product-delete-link">
                      <i class="far fa-trash-alt tm-product-delete-icon"></i>
                    </a>
                  </td>
                </tr>
              
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-12 tm-block-col tm-col-account-settings ">
        <div class="tm-bg-primary-dark tm-block tm-block-settings">
          <h2 class="tm-block-title">Add User</h2>
          <form 
            [formGroup]="formRegistration"
            (ngSubmit)="getFormData(formRegistration)"
             action="#" method="post"
          >
            <div class="form-group col-12">
              <label for="name">Account Name</label>
              <input
                formControlName="name"
                id="name"
                name="name"
                type="text"
                class="form-control validate"
              />
            </div>
            <div class="form-group col-12">
              <label for="email">Account Email</label>
              <input
              formControlName="email"
                id="email"
                name="email"
                type="email"
                class="form-control validate"
              />
            </div>
            <div class="form-group col-12">
              <label for="password">Password</label>
              <input
              formControlName="password"
                id="password"
                name="password"
                type="password"
                class="form-control validate"
              />
            </div>
            <div class="form-group col-12">
              <label for="address">Address</label>
              <input
              formControlName="address"
                id="address"
                name="address"
                type="text"
                class="form-control validate"
              />
            </div>
            <div class="form-group col-12">
              <label for="city">City</label>
              <input
              formControlName="city"
                id="city"
                name="city"
                type="text"
                class="form-control validate"
              />
            </div>
            <div class="form-group col-12">
              <label for="region">Region</label>
              <input
              formControlName="region"
                id="region"
                name="region"
                type="text"
                class="form-control validate"
              />
            </div>
            <div class="form-group col-12">
              <label for="phone">Phone</label>
              <input
              formControlName="phone"
                id="phone"
                name="phone"
                type="tel"
                class="form-control validate"
              />
            </div>
            <div class="form-group col-lg-6">
              <label class="tm-hide-sm">&nbsp;</label>
              
            </div>
            <div class="container">    
              <div class="row">
              <div class="d-flex justify-content-center align-items-center" [ngClass]="{'col-6':dangerAlertShow,'col-12':!dangerAlertShow}">
                <button type="submit" class="btn btn-primary btn-block text-uppercase" 
               >
                  Add </button>
              </div>
              <div [ngClass]="{'show-alert':dangerAlertShow,'hide-alert':!dangerAlertShow}" class="alert alert-danger col-6 mt-3" role="alert">
                Email is already existed or Data is invalid
              </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
