
<section class="parentitemsproduct">
    <section class="itemsproduct">        
      <div class="container">
        <div class="text" style="text-align: center;">
          
        <h2>Products Items</h2>
        </div>          
        <div class="row">
            
          <div class="col-lg-3 col-md-6 col-sm-12 mb-5 cart_product" *ngFor="let i of arr">
            <div class="card" >
              <!-- <div class="photo"></div> -->
              <img src="https://cdn.rawgit.com/huijing/filerepo/gh-pages/lw2.jpg" alt="" />
              <div class="card-body">
                <h4 class="card-title d-flex justify-content-center align-items-center" style=" color: #876445;">prodct1</h4>
               
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Ad porro tenetur illum amet perferendis nihil soluta fugit iste, quo deleniti.
                </p>   
                <div class="butto d-flex justify-content-center align-items-center"> 
                  <a href="#" class="btn1">Show Product</a>  
                </div>                
              </div>
            </div>  
          </div>
       
        </div>
      </div>  
    
    </section>
  </section>
